<link rel="stylesheet" href="/dashboard-menus.css" />
<!-- <link rel="stylesheet" href="/navbar.css" /> -->
<meta name="viewport" content="width=device-width, initial-scale=1.0" />
<title>CampusBites | Edit Menu </title>

<%- include("../restaurant/partials/navbar.ejs")%>

  <div class="menu-container">
    <h3>Available Items</h3>
    <div class="menu-items">

      <% for (menu of menus) { %>
        <div class="edit-menu m-3">
          <li class="menu" type="none">
            <div class="menu-name">
              <span><strong>
                  <%=menu.name%>
                </strong></span>
              <span class="edit-menu-price"><strong>₹ </strong>
                <%=menu.price%>
              </span>
            </div>
            <form class="delete-items" method="POST"
              action="/restaurant/<%=restId%>/dashboard/menus/<%=menu._id%>?_method=DELETE">
              <button class="noselect"><span class="text">Delete</span><span class="icon"><svg
                    xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24">
                    <path
                      d="M24 20.188l-8.315-8.209 8.2-8.282-3.697-3.697-8.212 8.318-8.31-8.203-3.666 3.666 8.321 8.24-8.206 8.313 3.666 3.666 8.237-8.318 8.285 8.203z">
                    </path>
                  </svg></span></button>
            </form>
          </li>
        </div>

        <% } %>

    </div>
    <span>

      <a href="/restaurant/<%=restId%>/dashboard"><button class="button-32">Back to Dashboard</button></a>
    </span>
  </div>
  </body>

  </html>